@import '../../variables';

$minimap-width: 640px;
$minimap-height: 400px;
$minified-minimap-width: $minimap-width / 2.4;
$minified-minimap-height: $minimap-height / 2.4;
$transition-length: .2s;
$header-height: 7vh;

.game-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0 0 3px 0 $dark-gray;
  z-index: 1;
}

.player {
  width: 100vw;
  height: 100vh - $header-height;
  margin-top: $header-height;
}

.minimap {
  width: $minified-minimap-width;
  height: $minified-minimap-height;
  opacity: .7;
  position: fixed;
  right: 4px;
  bottom: 40px;
  border-radius: 10px;
  transition: all $transition-length ease-out;
  overflow: hidden;

  &:hover {
    width: $minimap-width;
    height: $minimap-height;
    opacity: 1;
    box-shadow: 0 0 7px 1px $dark-gray;
  }

  &__outer-wrapper {
    width: $minified-minimap-width;
    height: $minified-minimap-height;
    transition: all $transition-length ease-out;
    position: relative;

    &:hover {
      width: $minimap-width;
      height: $minimap-height;
    }
  }

  &__wrapper {
    position: absolute;
    width: $minimap-width;
    height: $minimap-height;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.guess-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: greenyellow;
  visibility: hidden;

  &_visible {
    visibility: visible;
  }
}
