@import '../../variables';

$minimap-width: 300px;
$minimap-height: 200px;
$header-height: 7vh;

.game-header {
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $primary-color;
}
.player {
  width: 100vw;
  height: 100vh - $header-height;
}
.minimap {
  width: $minimap-width - 100px;
  height: $minimap-height - 100px;
  opacity: .7;
  background-color: yellow;
  position: fixed;
  right: 4px;
  bottom: 40px;
  border-radius: 10px;
  transition: all .2s ease-out;
}
.minimap:hover {
  width: $minimap-width;
  height: $minimap-height;
  opacity: 1;
}
